.container {
  padding-top: 13px;
  width: 80%;
  height: 85%;
}

.renderedAST {
   height: 100%;
   overflow: hidden;
}

a {
  margin-left: 1em;
}

.abstract-syntaxtree-iframe {
  resize: vertical;
  overflow:auto;
}
