.container {
  padding-top: 13px;
  height: 40%;
}

.renderedAST {
   height: 100%;
   overflow: hidden;
}

a {
  margin-left: 1em;
}

.abstract-syntaxtree-iframe {
  resize: both;
  overflow:auto;
}
