.container {
  padding-top: 13px;
}

body {
  background-color: #ececec;
}

.panel-body > img {
  height: 20em;
}

.navBoxLink:hover .navBox {
  transform: scale(1.01);
  box-shadow: 0 0 10px #000;
  transition:all .3s;
}
