html
  head
    title VMEXT: Visualization and Manipulation of Mathematical EXpression Trees (Version 2)

    link(rel='stylesheet' type='text/css' href='../vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../css/index.css')

  body
    .container
      .row
        .col-md-7.col-md-offset-3
          h1 VMEXT: Visualization and Manipulation of Mathematical EXpression Trees (Version 2)

      h2 SHOWCASE
      p Click the image below to see the widgets in action
      .row.margined
        .col-md-4.col-md-offset-1
          a.navBoxLink(href="/ast-renderer.html")
            .panel.panel-primary.navBox
              .panel-heading
                h3.panel-title MathML - Expression Tree Editor
              .panel-body.astRenderer
                img(src="../assets/riemann.png")
        .col-md-4.col-md-offset-1
          a.navBoxLink(href="/merged-asts.html")
            .panel.panel-primary.navBox
              .panel-heading
                h3.panel-title Expression tree similarity visualization
              .panel-body
                img(src="../assets/mergedAST.png")

      h2 API DOCS
      a(href="/api-docs") Detailed documentation with live results

      h2 GITHUB
      a(href="//github.com/ag-gipp/vmext") All sources and technical documentation

      h2 VMEXT-DEMO
      a(href="//vmext-demo.formulasearchengine.com") Java based demo that accepts LaTeX inputs

      h2 USAGE

      h3 Via node

      p the following packages are available via
        a(href="https://npmjs.org")   npm install module name

      ul
        li
          strong vmext
          span   The parent
          a(href="https://nodejs.org")  Node.js
          span   module that bundles the components and presents the demo. We strive to implement everything in isomorphic JavaScript and use
          a(href="https://brunch.io")  brunch
          span   to bring node modules to the browser.
        li
          strong mathml
          span   MathML is the core  module that allows to load modify and render MathML input. It is based on the XML processing node module
          a(href="https://www.npmjs.com/package/xtraverse")   xtraverse .
        li
          strong
            a(href="https://js.cytoscape.org/") cytoscape
            span -mathml
          span   Cytoscape MathML is a plugin to the graph visualization cytoscape with the
          a(href="http://doi.org/10.5281/zenodo.1211727")  dagre
          span -plugin and provides the interactivity with the MathML tree.
        li
          strong
            a(href="http://codemirror.net/") codemirror
            span  -mathml
          span a plugin for codemirror. It extends the CodeMirror XML autocompletion plugin and provides auto completion for MathML
        li
          strong
            a(href="http://codemirror.net/") codemirror
            span -wikidata
          span   a plugin for codemirror. It provides autocompletion for Wikidata entities and tooltips for Wikidata elements.


      h3 as Widgets (Contributed by LuiSlacker)

      p To embed the widgets onto your website simply place the following scripts into the desired container of your HTML page. The scripts replace themselves with HTML Markup and JS required for interactivity.
      p They will also adapt to the containing containers dimensions.

      h4 Formula-AST-Widget
      script(src='https://gist.github.com/LuiSlacker/47ed517961a0c9755f4a529338a5a21c.js')

      h4 Formula-Similarity-Widget
      script(src='https://gist.github.com/LuiSlacker/a074d7642fff753fba0969c5dfe65b7e.js')

      h4 Similarities Example
      script(src='https://gist.github.com/LuiSlacker/f0a700211548f1b7ff9231de0b227050.js')
