html
  head
    title Merged ASTs

    link(rel='stylesheet' type='text/css' href='../vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../css/index.css')

  body
    .container
      .row
        .col-md-7.col-md-offset-3
          h1 Formula - Abstract Syntax Tree API

      h2 SHOWCASE
      p Click the image below to see the widgets in action
      .row.margined
        .col-md-4.col-md-offset-1
          a.navBoxLink(href="/ast-renderer.html")
            .panel.panel-primary.navBox
              .panel-heading
                h3.panel-title MathML - AST Renderer
              .panel-body.astRenderer
                img(src="../assets/riemann.png")
        .col-md-4.col-md-offset-1
          a.navBoxLink(href="/merged-asts.html")
            .panel.panel-primary.navBox
              .panel-heading
                h3.panel-title Merged AST Renderer
              .panel-body
                img(src="../assets/mergedAST.png")

      h2 API DOCS
      a(href="/api-docs") Detailed documentation with live results

      h2 GITHUB
      a(href="//github.com/ag-gipp/vmext") All sources and technical documentation

      h2 VMEXT-DEMO
      a(href="//vmext-demo.formulasearchengine.com") Java based demo that accepts LaTeX inputs

      h2 USAGE

      p To embed the widgets onto your website simply place the following scripts into the desired container of your HTML page. The scripts replace themselves with HTML Markup and JS required for interactivity.
      p They will also adapt to the containing containers dimensions.

      h4 Formula-AST-Widget
      script(src='https://gist.github.com/LuiSlacker/47ed517961a0c9755f4a529338a5a21c.js')

      h4 Formula-Similarity-Widget
      script(src='https://gist.github.com/LuiSlacker/a074d7642fff753fba0969c5dfe65b7e.js')

      h4 Similarities Example
      script(src='https://gist.github.com/LuiSlacker/f0a700211548f1b7ff9231de0b227050.js')
