body {font-family: 'Comic Sans MS'}
#cy-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

body {
  background-color: #ececec;
}

.container {
  padding-top: 13px;
  resize: both;
  overflow: auto;
}

.renderedAST {
  height: 100%;
  overflow: hidden;
}

a {
  margin-left: 1em;
}

.abstract-syntaxtree-iframe {
  resize: vertical;
  overflow:auto;
}

.highlight {
  background-color: gold;
}

#mast {
  width: 100%;
  height: 100%;
  min-height: 500px;
  left: 0;
  z-index: 999;
}
.col {
  border: 1px solid;
  border-color: black;
  resize: both;
  overflow: auto;
}
