html
  head
    title Abstract Syntax Tree

    link(rel='stylesheet' type='text/css' href='../vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../css/ast-renderer.css')

  body
    .container
      .panel.panel-primary
        .panel-heading
          h3.panel-title MathML - AST Renderer
        .panel-body
          label(for='textarea') Enter valid MathML
          .row
            .col-md-4
              form(action='/api/v1/ast/render', method='post', enctype='multipart/form-data' target='renderedAST' onsubmit='return callAPI(event)')
                .form-group
                  textarea#textarea.form-control(rows=10, cols=20, name='mathml')
                    != mml[0]
                .form-group
                  label(for='MathMLexamples') or choose an example
                  select.form-control#MathMLexamples
                    option(
                      selected='selected'
                      value = mml[0]
                    ) Euler
                    option(value = mml[1]) MRR
                    option(value = mml[2]) Wide AST
                    option(value = mml[5]) Einstein
                    option(value = mml[9]) Goat
                fieldset.form-group.option-type
                  legend Advanced Options
                  .form-check
                    label.form-check-label
                      <input class='form-check-input option-collapseOneChildNodes' type='checkbox'/> collapse nodes with only 1 child
                  .form-group
                    label(for='nodesToBeCollapsed') Nodes to be collapsed:
                    input#nodesToBeCollapsed.form-control.option-nodesToBeCollapsed(type='text', value='[""]')
                input.btn.btn-success(type='submit', value='Render')
                </br>
                </br>
                a.btn-download(href='#', onclick='renderPNG()' download='ast-formula.png' style="display: none;") download rendering as PNG
            .col-md-8.abstract-syntax-tree

    script(src='/js/ast-renderer.js', type='text/javascript')
