html
  head
    title Merged ASTs

    link(rel='stylesheet' type='text/css' href='../vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../css/index.css')

  body
    .container
      .row
        .col-md-7.col-md-offset-3
          h3 Formula - Abstract Syntax Tree API
      .row.margined
        .col-md-4.col-md-offset-1
          a.navBoxLink(href="/ASTRenderer")
            .panel.panel-primary.navBox
              .panel-heading
                h3.panel-title MathML - AST Renderer
              .panel-body.astRenderer
                img(src="../assets/riemann.png")
        .col-md-4.col-md-offset-1
          a.navBoxLink(href="/mergedASTs")
            .panel.panel-primary.navBox
              .panel-heading
                h3.panel-title Merged AST Renderer
              .panel-body
                img(src="../assets/mergedAST.png")
      .row
        .col-md-4.col-md-offset-5
          a(href="/api-docs") API Docs
