html
  head
    title Merged ASTs

    link(rel='stylesheet' type='text/css' href='../vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='../css/merged-asts.css')

  body
    .container
      .panel.panel-primary
        .panel-heading
          h3.panel-title MathML - AST Renderer
        .panel-body
          .row
            .col-md-4
              form(onsubmit='return callAPI(event)')
                label(for='referenceMML') referenceMML
                .form-group
                  textarea#referenceMML.form-control(rows=5, cols=10, name='mathml') <math xmlns="http://www.w3.org/1998/Math/MathML" id="A" class="ltx_Math" display="inline">  <semantics id="Aa">    <mrow id="A.7" xref="A.7.cmml">      <mo id="A.3" xref="A.3.cmml">MRR</mo>      <mo id="A.4" xref="A.4.cmml">=</mo>      <mrow id="A.7.1" xref="A.7.1.cmml">        <mstyle displaystyle="true" id="A.5" xref="A.5.cmml">          <mfrac id="A.5a" xref="A.5.cmml">            <mn id="A.5.2" xref="A.5.2.cmml">π</mn>            <mrow id="A.5.3" xref="A.5.3.4.cmml">              <mo stretchy="false" id="A.5.3.1" xref="A.5.3.4.1.cmml">|</mo>              <mi id="A.5.3.2" xref="A.5.3.2.cmml">RE</mi>              <mo stretchy="false" id="A.5.3.3" xref="A.5.3.4.1.cmml">|</mo>            </mrow>          </mfrac>        </mstyle>        <mo id="A.7.1.1" xref="A.7.1.1.cmml">⁢</mo>        <mrow id="A.6.5" xref="A.6.1.cmml">          <mstyle displaystyle="true" id="A.6.2.1.6" xref="A.6.2.1.1.cmml">            <munderover id="A.6.2.1.6a" xref="A.6.2.1.1.cmml">              <mo largeop="true" movablelimits="false" symmetric="true" id="A.6.2.1.2" xref="A.6.2.1.1.1.cmml">∑</mo>              <mrow id="A.6.2.1.3.1" xref="A.6.2.1.1.cmml">                <mi id="A.6.2.1.3.1.1" xref="A.6.2.1.3.1.1.cmml">i</mi>                <mo id="A.6.2.1.3.1.2" xref="A.6.2.1.1.1.cmml">=</mo>                <mn id="A.6.2.1.3.1.3" xref="A.6.2.1.3.1.3.cmml">1</mn>              </mrow>              <mrow id="A.6.2.1.4.1" xref="A.6.2.1.4.1.1.4.cmml">                <mo stretchy="false" id="A.6.2.1.4.1.1.1" xref="A.6.2.1.4.1.1.4.1.cmml">|</mo>                <mi id="A.6.2.1.4.1.1.2" xref="A.6.2.1.4.1.1.2.cmml">Q</mi>                <mo stretchy="false" id="A.6.2.1.4.1.1.3" xref="A.6.2.1.4.1.1.4.1.cmml">|</mo>              </mrow>            </munderover>          </mstyle>          <mo id="A.6.5a" xref="A.6.1.cmml">⁡</mo>          <mstyle displaystyle="true" id="A.6.4" xref="A.6.1.cmml">            <mfrac id="A.6.4a" xref="A.6.1.cmml">              <mn id="A.6.4.1.2" xref="A.6.4.1.2.cmml">1</mn>              <msub id="A.6.4.1.3" xref="A.6.1.cmml">                <mi id="A.6.4.1.3.1" xref="A.6.4.1.3.1.cmml">r</mi>                <mi id="A.6.4.1.3.2.1" xref="A.6.4.1.3.2.1.cmml">i</mi>              </msub>            </mfrac>          </mstyle>        </mrow>      </mrow>    </mrow>    <annotation-xml encoding="MathML-Content" id="Ab">      <apply id="A.7.cmml" xref="A.7">        <eq id="A.4.cmml" xref="A.4"/>        <ci id="A.3.cmml" xref="A.3">MRR</ci>        <apply id="A.7.1.cmml" xref="A.7.1">          <times id="A.7.1.1.cmml" xref="A.7.1.1"/>          <apply id="A.5.cmml" xref="A.5">            <divide id="A.5.1.cmml"/>            <cn type="integer" id="A.5.2.cmml" xref="A.5.2">1</cn>            <apply id="A.5.3.4.cmml" xref="A.5.3">              <abs id="A.5.3.4.1.cmml" xref="A.5.3.1"/>              <ci id="A.5.3.2.cmml" xref="A.5.3.2">Q</ci>            </apply>          </apply>          <apply id="A.6.1.cmml" xref="A.6.5">            <apply id="A.6.2.1.1.cmml" xref="A.6.2.1.6">              <csymbol cd="dlmf" id="A.6.2.1.1.1.cmml" xref="A.6.2.1.2">semantic-sum</csymbol>              <ci id="A.6.2.1.3.1.1.cmml" xref="A.6.2.1.3.1.1">i</ci>              <cn type="integer" id="A.6.2.1.3.1.3.cmml" xref="A.6.2.1.3.1.3">1</cn>              <apply id="A.6.2.1.4.1.1.4.cmml" xref="A.6.2.1.4.1">                <abs id="A.6.2.1.4.1.1.4.1.cmml" xref="A.6.2.1.4.1.1.1"/>                <ci id="A.6.2.1.4.1.1.2.cmml" xref="A.6.2.1.4.1.1.2">Q</ci>              </apply>            </apply>            <apply id="A.6.4.cmml" xref="A.6.4">              <divide id="A.6.4.1.1.cmml"/>              <cn type="integer" id="A.6.4.1.2.cmml" xref="A.6.4.1.2">1</cn>              <apply id="A.6.4.1.3.cmml" xref="A.6.4.1.3">                <csymbol cd="ambiguous" id="A.6.4.1.3.3.cmml">subscript</csymbol>                <ci id="A.6.4.1.3.1.cmml" xref="A.6.4.1.3.1">r</ci>                <ci id="A.6.4.1.3.2.1.cmml" xref="A.6.4.1.3.2.1">i</ci>              </apply>            </apply>          </apply>        </apply>      </apply>    </annotation-xml>  </semantics></math>
                label(for='comparisonMML') comparisonMML
                .form-group
                  textarea#comparisonMML.form-control(rows=5, cols=10, name='mathml') <math xmlns="http://www.w3.org/1998/Math/MathML" id="A" class="ltx_Math" display="inline"> 	<semantics id="Aa"> 		<mrow id="A.7" xref="A.7.cmml"> 			<mo id="A.3" xref="A.3.cmml"> 				MMR 			</mo> 			<mo id="A.4" xref="A.4.cmml"> 				= 			</mo> 			<mrow id="A.7.1" xref="A.7.1.cmml"> 				<mstyle displaystyle="true" id="A.5" xref="A.5.cmml"> 					<mfrac id="A.5a" xref="A.5.cmml"> 						<mn id="A.5.2" xref="A.5.2.cmml"> 							1 						</mn> 						<mrow id="A.5.3" xref="A.5.3.4.cmml"> 							<mo stretchy="false" id="A.5.3.1" xref="A.5.3.4.1.cmml"> 								| 							</mo> 							<mi id="A.5.3.2" xref="A.5.3.2.cmml"> 								Q 							</mi> 							<mo stretchy="false" id="A.5.3.3" xref="A.5.3.4.1.cmml"> 								| 							</mo> 						</mrow> 					</mfrac> 				</mstyle> 				<mo id="A.7.1.1" xref="A.7.1.1.cmml"> 					⁢ 				</mo> 				<mrow id="A.6.5" xref="A.6.1.cmml"> 					<mstyle displaystyle="true" id="A.6.2.1.6" xref="A.6.2.1.1.cmml"> 						<munderover id="A.6.2.1.6a" xref="A.6.2.1.1.cmml"> 							<mo largeop="true" movablelimits="false" symmetric="true" id="A.6.2.1.2" xref="A.6.2.1.1.1.cmml"> 								∑ 							</mo> 							<mrow id="A.6.2.1.3.1" xref="A.6.2.1.1.cmml"> 								<mi id="A.6.2.1.3.1.1" xref="A.6.2.1.3.1.1.cmml"> 									i 								</mi> 								<mo id="A.6.2.1.3.1.2" xref="A.6.2.1.1.1.cmml"> 									= 								</mo> 								<mn id="A.6.2.1.3.1.3" xref="A.6.2.1.3.1.3.cmml"> 									1 								</mn> 							</mrow> 							<mrow id="A.6.2.1.4.1" xref="A.6.2.1.4.1.1.4.cmml"> 								<mo stretchy="false" id="A.6.2.1.4.1.1.1" xref="A.6.2.1.4.1.1.4.1.cmml"> 									| 								</mo> 								<mi id="A.6.2.1.4.1.1.2" xref="A.6.2.1.4.1.1.2.cmml"> 									Q 								</mi> 								<mo stretchy="false" id="A.6.2.1.4.1.1.3" xref="A.6.2.1.4.1.1.4.1.cmml"> 									| 								</mo> 							</mrow> 						</munderover> 					</mstyle> 					<mo id="A.6.5a" xref="A.6.1.cmml"> 						⁡ 					</mo> 					<mstyle displaystyle="true" id="A.6.4" xref="A.6.1.cmml"> 						<mfrac id="A.6.4a" xref="A.6.1.cmml"> 							<mn id="A.6.4.1.2" xref="A.6.4.1.2.cmml"> 								1 							</mn> 							<msub id="A.6.4.1.3" xref="A.6.1.cmml"> 								<mi id="A.6.4.1.3.1" xref="A.6.4.1.3.1.cmml"> 									r 								</mi> 								<mi id="A.6.4.1.3.2.1" xref="A.6.4.1.3.2.1.cmml"> 									i 								</mi> 							</msub> 						</mfrac> 					</mstyle> 				</mrow> 			</mrow> 		</mrow> 		<annotation-xml encoding="MathML-Content" id="Ab"> 			<apply id="A.7.cmml" xref="A.7"> 				<eq id="A.4.cmml" xref="A.4" /> 				<ci id="A.3.cmml" xref="A.3"> 					MMR 				</ci> 				<apply id="A.7.1.cmml" xref="A.7.1"> 					<times id="A.7.1.1.cmml" xref="A.7.1.1" /> 					<apply id="A.5.cmml" xref="A.5"> 						<divide id="A.5.1.cmml" /> 						<cn type="integer" id="A.5.2.cmml" xref="A.5.2"> 							1 						</cn> 						<apply id="A.5.3.4.cmml" xref="A.5.3"> 							<abs id="A.5.3.4.1.cmml" xref="A.5.3.1" /> 							<ci id="A.5.3.2.cmml" xref="A.5.3.2"> 								Q 							</ci> 						</apply> 					</apply> 					<apply id="A.6.1.cmml" xref="A.6.5"> 						<apply id="A.6.2.1.1.cmml" xref="A.6.2.1.6"> 							<csymbol cd="dlmf" id="A.6.2.1.1.1.cmml" xref="A.6.2.1.2"> 								semantic-sum 							</csymbol> 							<ci id="A.6.2.1.3.1.1.cmml" xref="A.6.2.1.3.1.1"> 								i 							</ci> 							<cn type="integer" id="A.6.2.1.3.1.3.cmml" xref="A.6.2.1.3.1.3"> 								1 							</cn> 							<apply id="A.6.2.1.4.1.1.4.cmml" xref="A.6.2.1.4.1"> 								<abs id="A.6.2.1.4.1.1.4.1.cmml" xref="A.6.2.1.4.1.1.1" /> 								<ci id="A.6.2.1.4.1.1.2.cmml" xref="A.6.2.1.4.1.1.2"> 									Q 								</ci> 							</apply> 						</apply> 						<apply id="A.6.4.cmml" xref="A.6.4"> 							<divide id="A.6.4.1.1.cmml" /> 							<cn type="integer" id="A.6.4.1.2.cmml" xref="A.6.4.1.2"> 								1 							</cn> 							<apply id="A.6.4.1.3.cmml" xref="A.6.4.1.3"> 								<csymbol cd="ambiguous" id="A.6.4.1.3.3.cmml"> 									subscript 								</csymbol> 								<ci id="A.6.4.1.3.1.cmml" xref="A.6.4.1.3.1"> 									r 								</ci> 								<ci id="A.6.4.1.3.2.1.cmml" xref="A.6.4.1.3.2.1"> 									i 								</ci> 							</apply> 						</apply> 					</apply> 				</apply> 			</apply> 		</annotation-xml> 	</semantics> </math>
                label(for='similarities') similarities
                .form-group
                  textarea#similarities.form-control(rows=5, cols=10, name='mathml').
                    [
                       {
                          "id":"A.3.cmml",
                          "matches":[
                             {
                                "id":"A.3.cmml",
                                "assessment":1.0,
                                "type":"similar"
                             }
                          ]
                       },
                       {
                          "id":"A.6.1.cmml",
                          "matches":[
                             {
                                "id":"A.6.1.cmml",
                                "type":"identical"
                             }
                          ]
                       }
                    ]
                input.btn.btn-success(type='submit', value='Render')
                </br>
                </br>
                a(href='/api/docs') open API specs</br>
                a.btn-download(href='#', onclick='renderPNG()' download='formula-similarities.png') download rendering as PNG
            .col-md-8.abstract-syntax-tree

    script(src='/js/merged-asts.js', type='text/javascript')
