body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.error-container {
  display: none;
  top: 0px;
  dtext-align: center;
}

.error-details {
  margin-top: 2em;
  display: none;
}

.panel {
  margin: 2em;
}

.mainContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.formula-container {
  flex: 0 1 auto;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #aba8a8;
}

.cy-container  {
  flex: 1 1 auto;
}

.gif-loader, .gif-error {
  position: absolute;
  top: 50%;
  left: 50%;
}

.gif-loader {
  margin-top: -79px;
  margin-left: -79px;
}

.gif-error {
  margin-top: -250px;
  margin-left: -250px;
  display: none;
}

.highlight {
  color: #e02020;
}
